@font-face {
    font-family: 'kraash_blackregular';
    src: url('/fonts/kraash_black-webfont.woff2') format('woff2'), url('/fonts/kraash_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    height: 110%;
    margin-bottom: 0.01em;
}

body {
    background: url(../img/achtergrond.jpg) no-repeat center center fixed;
    background-size: cover;
}
.inputfield {
    margin-bottom: 5px;
    text-align: center;
}

.inputfieldsmall {
    margin-bottom: 5px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.title {
    padding-top: 125px;
    padding-bottom: 80px;
    font-family: 'kraash_blackregular', sans-serif;
    font-weight: bold;
    color: navy;
}
ul {
    list-style-type: none;
}

.card-custom {
    display: none;
    width: 16rem; 
    margin-right: 20px; 
    margin-bottom: 20px; 
    margin-top: 20px;
}

.btnList {
    padding: 10px;
}

p.button5 {
    padding: 0.46em 1.6em;
    text-align: center;
    text-decoration: none;
    font-family: 'kraash_blackregular', Fallback, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    transition: all 0.15s;
}

    p.button5:hover {
        text-shadow: 0 0 2em rgba(255,255,255,1);
        color: gold;
        border-color: #000000;
        text-decoration: none;
        cursor: pointer;
    }

@media all and (max-width:30em) {
     a.button5 {
        display: block;
        margin: 0.4em auto;
    }
}
