<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".mtl" />
      <mimeMap fileExtension=".mtl" mimeType="text/plain" />
      <remove fileExtension=".obj" />
      <mimeMap fileExtension=".obj" mimeType="text/plain" />
    </staticContent>
  </system.webServer>

 
</configuration>

